/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    font-family: 'Poppins';
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1012px;
}
.hero-section{
    display: flex;
    align-items: center;
    background-color: #FEEAE9;
    padding:30px 40px ;
    border-radius: 10px;
    margin-top: 40px;
    /* justify-content: space-between; */
}
.pink {
    color: #FF136F;
}
.hero-section .content {
    width: 50%;
}
.hero-section .content h1{
    font-size: 56px;
    font-weight: 700;
}
.hero-section .content p {
    font-size: 16px;
    font-weight: 500;
    color: #4E4E4E;
    ;
}
 .hero-section .content span {
     font-size: 41px;
     display: block;
    }
    .slider-info {
        display: flex;
        flex-direction: column;
row-gap: 10px;
 }
 .content.slider-info a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to left top, #ff589b, #ff4c91, #ff3e86, #ff2d7b, #ff136f);
    padding:10px 30px ;
    border-radius: 5px;
    width: 80px;
}
.hero-section .content h1,p{
    margin:0 ;
}
.hero-section .content img {
width: 60%;
}
.slider-image{
    display: flex;
    justify-content: flex-end;
}

/* categories */
.categories{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 50px 0;
}
.categories h1{
    margin: 0;
    font-weight: 600;
    /* font-size: 25px; */
}
.categories-item{
    display: flex;
    justify-content: space-between;
}
.item{
    display: flex;
    align-items: center;
    padding: 10px 40px;
    border-radius:10px;
    column-gap: 100px;
    color: white;
}
.item img{
    width: 80px;
}
.item h1{
    font-weight: 500;
}
#watch {
    background-image: linear-gradient(to right top, #ff9c35, #ffa92e, #ffb527, #ffc31f, #ffd019);
   
}
#bag{
    background-image: linear-gradient(to left top, #ff589b, #ff4c91, #ff3e86, #ff2d7b, #ff136f);
}
#shoes{
    background-image: linear-gradient(to left top, #4289ff, #2274ff, #0c5dff, #2240ff, #3f07f8);
}
/* shoes */
.orange-1 span{
    display: flex;
justify-content: flex-end;
}
#orange {
    color:#FF9D00 ;
    font-size: 20px;
    font-weight: 400px;
   
}
.shoes-div h2{
    font-size: 24px;
    font-weight: 600;
}
.shoes1 h1{
    font-size: 30px;
    font-weight: 600;
}
.shoes-div p{
    font-size: 16px;
    font-weight: 400;
}
.shoes-div span{
    font-size: 24px;
    font-weight: 500;
    display: block;
    margin: 20px 0;
}
.shoes-div a{
    /* margin-top: 100px; */
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    background-image: linear-gradient(to left top, #0c1119, #161f22, #242b2a, #343735, #444442);
    padding:12px 30px ;
    border-radius: 5px;
    color: white;
}
.shoes-div img{
width: 300px;
}
.shoe-info{
    background-color:#F4F4F4;
    ;
}
.shoes1{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    /* row-gap: 20px; */
}
.shoes-div{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#shoe-4{
    /* display: flex; */
    align-items: center;
    /* padding: 50px 10px; */
    width: 400px;
    height: 450px;
    border-radius:10px;
    /* column-gap: 100px; */
    background-color: white;
}
.shoes-div{
column-gap: 40px;
} 
/* backpack */
#shoe-5{
    align-items: center;
    /* padding: 50px 10px; */
    width: 400px;
    height: 550px;
    border-radius:10px;
    /* column-gap: 100px; */
    background-color: white;  
}
.shoes2{
    padding-bottom: 60px;
}
/* last-section */
.last-section{
    display: flex;
   /* text-align: center; */
    background-color: #FEEAE9;
    padding:120px 10px ;
    border-radius: 10px;
    margin: 50px auto ;  
    justify-content: center;
}
.last-info h1{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}
.last-info p{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}
/* .last-info a{
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(to right top, #ff589b, #ff4c91, #ff3e86, #ff2d7b, #ff136f);
    color: #F4F4F4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} */
input[type="email"]{
    padding: 15px 60px;
}
.last-info input[type="submit"] {
    border: none;
    background-image: linear-gradient(to left top, #ff589b, #ff4c91, #ff3e86, #ff2d7b, #ff136f);
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding: 15px 40px;

}
.last-info input[type="email"] {
    border: none;
    font-size: 20px;
    border-radius:5px ;
    color: white;
}

